@import url("https://use.typekit.net/nbg5qht.css");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'cubano', sans-serif;
    height: 100%;
    background-color: #1d1d1f;
    color: #f5f5f7;
}

p {
    line-height: 1.5rem;
}
.ellipsis span {
    opacity: 0;
    animation: ellipsis-dot 1s infinite;
}
.ellipsis span:nth-child(1) {
    animation-delay: 0.0s;
}
.ellipsis span:nth-child(2) {
    animation-delay: 0.1s;
}
.ellipsis span:nth-child(3) {
    animation-delay: 0.2s;
}
@keyframes ellipsis-dot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3rem;
    animation: floating 3s infinite ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% {  transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
}
