/* Adobe fonts -> 'Cubano' & 'Bryant Web' */
@import url("https://use.typekit.net/nbg5qht.css");
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Oswald:wght@100;200;300;400;500;600;700&display=swap');

/* HTML for it */
/* <div class="container-fluid">
    <div class="container">
        <img src="{{ url_for('static', filename='images/4390.png') }}" alt="Deathbat #4390" height="200" width="200">
        <p>Loading<span class="ellipsis"><span>.</span><span>.</span><span>.</span></span></p>
        <a href="{{ url_for('playlister_index') }}">Playlister</a>
    </div>
</div> */

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: #F8F9FA;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    letter-spacing: 0.03rem;
}
p {
    line-height: 1.5rem;
}
.ellipsis span {
    opacity: 0;
    animation: ellipsis-dot 1s infinite;
}
.ellipsis span:nth-child(1) {
    animation-delay: 0.0s;
}
.ellipsis span:nth-child(2) {
    animation-delay: 0.1s;
}
.ellipsis span:nth-child(3) {
    animation-delay: 0.2s;
}
@keyframes ellipsis-dot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 3rem;
    animation: floating 3s infinite ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% {  transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
}
