@import url("https://use.typekit.net/nbg5qht.css");

* {
    margin: 0;
    padding: 0;
}
/* NEW BLUE: #00B8FC */
/* NEW BLACK: #202124 */
:root {
    --bg-color: #212529;
    --logo-blue: #54E1FA;
    --text-color: #F8F9FA;
}
html {
    height: 100%;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: 'bryant', sans-serif;
    font-weight: 300;
    letter-spacing: .08rem;
}
hr {
    margin: 0;
}
.text-color {
    color: var(--text-color);
}
#pfp {
    border-radius: 50%;
    margin-right: .5rem;
    margin-bottom: 1rem;
}
#logo_div {
    position: relative;
}
#logo_div #logo {
    height: 100px;
}
#logo_div #beta {
    height: 0.625rem;
    left: 13.75rem;
    position: absolute;
    top: 4.375rem;
}
.btn-outline-info {
    border-color: var(--logo-blue);
    color: var(--text-color);
}
.btn-outline-info:hover {
    background-color: var(--logo-blue);
    color: var(--bg-color);
}
.my-hr {
    border-top: 2px solid var(--logo-blue);
    border-radius: 5px;
    margin: .5rem;
    opacity: 1;
}
.col {
    padding: 0;
}
.form-width {
    color: var(--bg-color);
    width: 18.75rem;
}
.my-btn {
    width: 100px !important;
}
.my-btns {
    margin: 1rem !important;
    width: 250px;
}
#card {
    border: none;
    color: var(--text-color);
    outline: none;
}
#card .card-title {
    margin: 0;
}
#songs {
    background-color: var(--bg-color);
    text-align: left;
}
#artist {
    font-size: .8125rem;
    color: #aeaeae;
}
.modal-content {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}
.form-check-input:checked {
    background-color: var(--logo-blue);
}
#accordionParent {
    background-color: var(--logo-blue);
}
.accordion-item {
    background-color: var(--bg-color);
    border-color: var(--logo-blue);
    color: var(--text-color);
}
.accordion-button:focus {
    border-color: var(--logo-blue);
    box-shadow: none;
}
.accordion-button.collapsed {
    /* background-color: rgb(82, 224, 250, .7); */
    background-color: var(--bg-color);
    color: var(--text-color);
}
.accordion-button:not(.collapsed) {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F8F9FA'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23F8F9FA'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");;
    color: var(--text-color);
}
.add-btn {
    background-color: transparent;
    border: none;
    /* color: var(--bg-color); */
    outline: none;
}

/* MOBILE DEFAULTS GO BELOW, EVERYTHING ELSE GOES OUTSIDE OF IT */
@media screen and (min-width: 768px) {
    #logo_div #logo {
        height: 150px;
    }
    #logo_div #beta {
        height: 1rem;
        left: 20rem;
        top: 6.25rem;
    }
    .modal-content {
        background-color: var(--bg-color) !important;
        color: var(--text-color) !important;
    }
    .form-check-input:checked {
        background-color: var(--logo-blue);
    }
}
