@import url("https://use.typekit.net/nbg5qht.css");

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #212529;
    color: #F8F9FA;
    font-family: 'bryant', sans-serif;
    font-weight: 400;
    height: 100%;
    letter-spacing: .08rem;
}
.container-fluid {
    padding-top: 12px;
}
#pfp {
    border-radius: 50%;
    margin-right: .5rem;
}
#card {
    border-color: #54E1FA;
    color: #F8F9FA;
}
