{% extends "layout.html" %}

{% block title %}
    juiceellish
{% endblock %}

{% block main %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center w-75">
        <div class="container p-4">
            <h3 class="josefin">Portfolio under construction...</h3>
        </div>
        <br>
        <div class="container p-4">
            <h3 class="oswald">Apps</h3>
        </div>
        <div class="card border-blue text-center" style="max-width: 18rem;">
            <img alt="Playlister Logo" class="card-img-top" src="{{ url_for('static', filename='playlister/images/playlist-cover.png') }}">
            <div class="d-flex flex-column justify-content-center align-items-center josefin card-body bg-color">
                <h3 class="card-title oswald">Playlister</h3>
                <p class="card-text">Seemlessly create and edit your Spotify playlists ease!</p>
                <a href="{{ url_for('playlister_index') }}" target="_blank">
                    <div class="my-btn hover">
                        Visit app
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
