{% extends "layout.html" %}

{% block title %}
    juiceellish
{% endblock %}

{% block main %}
    <div class="hero" id="hero">
        <div class="canvas">
            <canvas class="dynamic" style="display: block;"></canvas>
        </div>
        <div class="heading">
            <div class="heading1">
                hello, I'm <span>Josh Ellis</span>
            </div>
            <div class="heading2">
                a self-taught, full-stack developer
            </div>
            <a href="#about">
                <div class="heading-link">
                    Explore
                </div>
            </a>
        </div>
    </div>
    <nav class="nav_bar">
        <ul class="nav_items">
            <li class="nav_item" id="nav-home">
                <a href="#hero">Home</a>
            </li>
            <li class="nav_item" id="nav-about">
                <a href="#about">About</a>
            </li>
            <li class="nav_item" id="nav-projects">
                <a href="#projects">Projects</a>
            </li>
            <li class="nav_item" id="nav-contact">
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="main-bg">
        <canvas class="canvas2" height="1400" width="950" style="display: block;"></canvas>
    </div>
    <section class="about" id="about"></section>
    <section class="projects" id="projects"></section>
    <section class="contact" id="contact"></section>
    <footer class="footer"></footer>
{% endblock %}
