/* Adobe fonts -> 'Cubano' & 'Bryant Web' */
@import url("https://use.typekit.net/nbg5qht.css");
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Oswald:wght@100;200;300;400;500;600;700&display=swap');

/* NEW BLUE: #00B8FC */
/* NEW BLACK: #202124 */
:root {
    --bg-color: #212529;
    --logo-blue: #54E1FA;
    --text-color: #F8F9FA;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.oswald {
    color: var(--text-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05rem;
}
.border-blue {
    border: 2px solid var(--logo-blue);
}
.josefin {
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03rem;
}
.bg-color {
    background-color: #202124;
}
/* canvas {
    border: 1px solid black;
} */
.my-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 1.2rem;
    outline: none;
    padding: 0.5rem 0.75rem;
    position: relative;
    width: fit-content;
    z-index: 0;
}
.my-btn:hover {
    color: var(--bg-color);
}
.my-btn.hover::after {
    background-color: var(--logo-blue);
    bottom: 1px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    transition: all .3s;
    z-index: -1;
}
.my-btn.hover:hover::after,
.my-btn.hover:focus::after {
    height: 100%;
}
