{% extends "playlister/layout.html" %}

{% block title %}
    Playlists - Playlister
{% endblock %}

{% block main %}
    <section>
        <div class="container-fluid d-flex flex-column align-items-center">
            <div class="d-inline-flex flex-column justify-content-center align-items-center w-50">
                {% if has_image == False %}
                    <img src="{{ url_for('static', filename='playlister/images/playlist-cover.png') }}" alt="Default Cover Image" height="400" width="400">
                {% else %}
                    <img src="{{ image }}" alt="Cover Image: {{ name }}" height="400" width="400">
                {% endif %}
                <div class="d-flex w-25">
                    <a href="#" class="btn btn-outline-info flex-fill m-3">Edit</a>
                    <a href="{{ url_for('delete_playlist', id=id) }}" class="btn btn-outline-danger flex-fill m-3">Delete</a>
                </div>
                <!-- SIZE DEPENDS ON DEVICE; DESIGN FOR MOBILE -->
                {% if track_total == 0 %}
                    <h3 class="mb-3">EMPTY</h3>
                {% else %}
                    <h3 class="mb-3">{{ name }}</h3>
                    <h5 class="mb-3">{{ description }}</h5>
                {% endif %}
            </div>
            <div class="w-100">
                <hr class="my-hr">
            </div>
            {% if not all_tracks %}
                <div class="d-flex justify-content-center w-25">
                    <a class="btn btn-light " href="#">Add to this playlist</a>
                </div>
            {% else %}
                <div class="d-flex w-25"></div>
                    <ol id="songs">
                        {% for track in all_tracks: %}
                        <li>{{ track['track_name'] }}</li>
                        <ul>
                            <li>{{ track['artist_name'] }}</li>
                            <li>{{ track['track_album_cover'] }}</li>
                        </ul>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
